:local(.paginationContainer) {
    background-color: #fff;
}

:local(.pagination) {
    padding: 0 20px;
}

:local(.pagination)>li>a {
    cursor: pointer;
    color: #5C75B0;
}

:local(.pagination)>li.active>a,
:local(.pagination)>li.active>a:hover {
    background-color: #5C75B0;
    border-color: #5C75B0;
    z-index: 9;
}
